body{
    --varGrayColor: rgb(92, 91, 91);
}

*{
    /* background-color: rgb(119, 119, 74); : 77774a */
    background-color: rgb(119, 119, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}
.container{
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}
.colorGreen{
    color:rgb(57, 58, 58);
}

/*  NAVBAR**/ 
.groupNavTitle
{
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px rgb(119, 119, 74);
    text-transform: uppercase;
}

.navBarr
{
    background-color: white;
    padding: 20px;
}

.navBarr > a 
{
   color:black;
   background-color: white;
   padding: 10px;
   font-weight: bold;
   color:rgb(119, 119, 74);
   text-decoration: none;
   font-size: 20px;
}
.imageHeader{
    width:100%;
}
.navBarr > a:hover
{
    color:white;
    background-color: rgb(119, 119, 74);
}

/***/
.listAlbum{
    padding: 10px;
    padding-left: 2px;
    padding-right: 35px;
    background-color:white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listAlbum > div
{
   background-color: transparent;
   color: rgb(119, 119, 74);


}
/****/
.liPFirstLine::first-line{
    color: var(--varGrayColor);

}

/* PLAY LIST */
table {
    border: solid 2px white;
    width: 500px;
    text-align: center;
}
table ,th , td {
    border: solid 2px white;
    border-collapse: collapse;
    padding: 5px;
}
td > a{
    padding: 5px;
}

/**  GRID */
.gridDiv{
    display:grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    row-gap: 30px;
    margin-top: 30px;
}
.gridDiv > div{
    background-color: white;
    padding: 10px; 
}

/* IMAGES ALBUM */
.album{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/***/
#footer{
    background-color: white;
    border-top: solid 30px rgb(119, 119, 74);
}
.footerContainer{
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   text-align: center;
   padding: 3rem;
    
}
p,  ul {
    padding: 1rem;
    color: white;   
}
ul {
    
    display: flex;
    justify-content: center;

}

ul li {
    list-style: none;
}
ul > li > a {
    color: white;
    padding: 2px;
    text-decoration: none;
    border-bottom: solid 2px white;
}
.network > li > a:hover{
    color: rgb(119, 119, 74);
    background-color:white;

}
.logo{
    background-color: white;
    padding-right: 30px;
    width: 200px;
    height: 50px;
}

.TextAboutCeline{
    padding:20px;text-align: justify;
}
.overflowFavoriteMmusic{
    max-height: 300px; 
    overflow-y: scroll;
    padding-right:2px;
}


@media (min-width:300px) and (max-width: 496px) 
{
   .gridDiv{
        display:grid;
        grid-template-columns: 5fr;
        gap: 10px;
        row-gap: 0;

    }
    .gridDiv > div{
        background-color: white;
        padding:0;
        height: auto; 
    }

} 

@media (min-width:500px) and (max-width: 813px) 
{
    /** HEADER */
    .groupNavTitle{
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding-top: 20px;
        align-items: center;
        text-transform: uppercase;
    }
    .logo{
        background-color: white;
        padding-right: 0;
        width: 300px;
        height: auto;
    }
    /***/
    .imageHeader{
        width: 100%;
    }
    /**  **/
    .TextAboutCeline{
        padding:20px;text-align: justify;
    }
    .container
    {
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    .gridDiv{
        display:grid;
        grid-template-columns: 5fr;
        gap: 10px;
        row-gap: 0;
    }
    .gridDiv > div{
        background-color: white;
        padding:0;
        height: auto; 
    }
    /** MY PLAY LIST **/
    .listAlbum{
        padding: 20px;
        background-color:white;
        align-items: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .listAlbum > div
    {
       background-color: transparent;
       color: rgb(119, 119, 74);
       font-weight: bold;
    }
    .overflowFavoriteMmusic{
        display: flex;
        justify-content: center;
        height: 300px; 
        overflow-y: scroll;
        padding-right:0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    /** FOOTER **/
    .footerContainer
    {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding:0;   
    }
    ul {
    
        display: flex;
        justify-content:center;
        
    
    }
    
    
}